@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #232427
}

body {
  background-color: var(--bg);
  font-family: 'Turret Road', sans-serif;
  color: white;
}

hr{
  border-color: rgba(255,255,255, 0.1);
}